.card-advice {
  background-color: var(--DarkGrayish-Blue);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  border-radius: 10px;
}

.card-title {
  font-size: 10px;
  letter-spacing: 2px;
  color: var(--Neo-Green);
}

.card-content {
  text-align: center;
  font-size: 20px;
  color: var(--Light-Cyan);
}
