.card-advice {
  background-color: var(--DarkGrayish-Blue);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  border-radius: 10px;
}

.card-title {
  font-size: 10px;
  letter-spacing: 2px;
  color: var(--Neo-Green);
}

.card-content {
  text-align: center;
  font-size: 23px;
  color: var(--Light-Cyan);
}

@media only screen and (max-width: 48rem) {
  .card-advice {
    max-width: 70vw;
  }
  .card-content {
    font-size: 15px;
  }
}
